site_name: My Docs -wanglei
theme:
  name: material

  palette:
    # Toggle light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

    extra:
      version:
        provider: mike
        default: latest